<footer class = 'footer'>
    <div class="container">
        <ul>
            <li>
                <a href="#!">VoyageVisita</a>
                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quam eos atque odio, totam repellat ex?. Lorem ipsum dolor sit amet consectetur adipisicing elit. In facilis alias quam dolorem cupiditate? Deserunt.</p>
                <span>Newsletter</spanp>
                <form action="#!" method="POST" autocomplete="off">
                    <input type="email" name="email"  placeholder="Email">
                    <input type="submit" name= "submit" value="Subscribe">
                </form>
            </li>
            <li>
                <span>About Us</span>
                <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Dignissimos vero porro nesciunt, molestiae consectetur non.</p>
            </li>
            <li>
                <span>Trending News</span>
                    <a href="#!"><span><i class="fa-solid fa-calendar"></i> September 11, 2021</span> Indoniasia</a>
                    <a href="#!"><span><i class="fa-solid fa-calendar"></i> October 05, 2018</span> Barcelona</a>
                    <a href="#!"><span><i class="fa-solid fa-calendar"></i> January 11, 2023</span> Tokyo</a>
            </li>
        </ul>
    </div> 
</footer>