<!DOCTYPE html>
<html lang="en">
<%- include('./partials/head.ejs') %>
<body>

 <!--================ TOP BAR ==============-->
 <div class="breadcrumb__container">
    <div class="container">
        <div class="beadcrumb">
            <ul>
                <li><a href="/"><i class="fa-solid fa-home"></i></a></li>
                <li><i class="fa-solid fa-chevron-right"></i></li>
                <li><a href="/signin">Sign In</a></li>
            </ul>
        </div>
    </div>
</div>
<!--============ SIGNIN FORM ===============-->

<div class="signin__card__container">
    <div class="signin__card">
        <span>Sign In</span><br>
        <% if ( messages.error) { %>
          <%= messages.error %>
         <% } %>
        <form action="/auth/signin" method="POST">
            <div class="input__desc">
                <input type="text" name="username"  placeholder="Username">
            </div>
            <div class="input__desc input__password">
                <input type="password" name="password" placeholder="Password">
                <i class="fa-solid fa-eye-slash"></i>
            </div>
            <div class="input__desc">
               <a href="profile.html">Forgot password?</a>
            </div>
            <div class="input__desc">
                <input type="submit" name="submit" value="Sign In">
            </div>
            <div class="member">
                <span>Not a member?  </span><a href="/signup">Sign Up</a>
             </div>
        </form>
    </div>
</div>
<script src="/js/main.js"></script>
</body>
</html>